@import 'fonts.css';

.row{
   width: 100%;
}

.ScoreContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.TableContainer{
    position: absolute;
    top: 100px;
    left: 200px;
    
} 
.Replay{
    position: absolute;
    font-size: 30px;
    font-family: 'retro', sans-serif;
    top: 27px;
    right: 2%;
    z-index: 9999;
    border: none;
    background-color: transparent;
}
body{
    background-color: #ffffff;
}

.scoreText{
    position: relative;
    left: 40%;
    font-size: 30px;
    font-family: 'retro', sans-serif;
}
.container{
    border: 10px solid black;
}
