@import 'fonts.css';

.ScoreContainer{
    position:absolute;
    width:100%;
    height:100%;
    top:30%;
    
}

.Replay{
    position: absolute;
    font-size: 30px;
    font-family: 'retro', sans-serif;
    top: 13%;
    z-index: 9999;
    border: none;
    background-color: transparent;
}
.scoreText{
    position: absolute;
    font-size: 30px;
    bottom: 85.5%;
    z-index: 999;
    font-family: 'retro', sans-serif;
}
.container{
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 10px solid black;
}
