@import 'fonts.css';

.gameName {
    position: absolute;
    top: 10px;
    font-family: 'retro', sans-serif;
    font-size:120px;
    color: snow;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.Final {
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 10px solid black;
}

.btn {
    position: relative;
    left: 0px;
    border-radius: 90px;
    border: none;
    background-color: transparent;
    margin: 5px;
    flex-basis: calc(33.33% - 10px);
}
.volume{
    width: 40px;
    height: 50px;
    position: absolute;
    top: 90%;
    right: 7%;
    border: none;
    font-size: 35px;
    background-color: transparent;
    font-family: 'retro', sans-serif;
    color: snow;
}
.strike-through {
    text-decoration: line-through;
}

.btnimg {
    width: 100px;
    transition: opacity 0.3s ease;
}

.start {
    border: none;
    background-color: transparent;
    margin: 10px;
}

.madeby {
    width: 400px;
    height: 50px;
    position: absolute;
    top: 90%;
    right: 25%;
}

.Row {
    display: flex;
    flex-basis: 100%;
    align-items: center;
}
body {
    min-height: 100vh;
}
.ButtonsContainer {
    position: absolute;
    top: 140px;
    right: -330px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Main {
    position: absolute;
    left: 33%;
    top: 25%;
    background-color: #E8E8EE;
}
